@model IEnumerable<WebApplicationCasusWasmachine.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<body>
    <h1>Apparaten</h1>

    <div class="search-container">
        @using (Html.BeginForm())
        {
            <label>Kies een zoek criteria</label>
            <select name="Criteria" class="select-list">
                <option value="Brand">Apparaat merk</option>
                <option value="Category">Apparaat categorie</option>
                <option value="Model">Apparaat model</option>
            </select>

            <input type="search" name="Search" class="search-input" placeholder="Zoek een device" />
            <button class="search-button btn btn-outline-primary" type="submit"><span>Zoek</span></button>
        }
    </div>
</body>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.energyLabel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KwH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.warrentyEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lifeSpan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDevice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.energyLabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KwH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.warrentyEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lifeSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDevice.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                 
            </td>
        </tr>
}
    </tbody>
</table>




