@model IEnumerable<WebApplicationCasusWasmachine.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h1>Devices</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Upload device</a>
</p>
<body>

    <div class="search-container">
        @using (Html.BeginForm())
        {
            <label>Choose a search criteria</label>
            <select name="Criteria" class="select-list">
                <option value="Brand">Brand</option>
                <option value="Category">Category</option>
                <option value="Model">Model</option>
            </select>
            <input type="search" name="Search" class="search-input" placeholder="Search a device" />
            <button class="search-button btn btn-outline-primary" type="submit"><span>Zoek</span></button>
        }
    </div>
</body>
<table class="table table-hover">
    @if (ViewBag.Msg == null)
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    <label style="font-size:medium">Energy Label</label>
                </th>
                
                <th>
                    <label style="font-size:medium">Category</label>
                </th>
                <th>
                    <label style="font-size:medium">Uploaded by</label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.energyLabel)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    
                    <td>
                        <a asp-controller= "Users" asp-action="Details" asp-route-id = "@item.UserDevice.Id">@Html.DisplayFor(modelItem => item.UserDevice.Name)</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-controller="UsingReports" asp-action="Index" asp-route-id="@item.Id" class="btn btn-outline-primary">Using Reports</a>
                        <a asp-controller="Reports" asp-action="Index" asp-route-id="@item.Id" class="btn btn-outline-primary">Reports</a>                       
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
